.env
*.env

trash/
trash
queue
queue/
*.json

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
.eggs/

task_state.json
sent_notifications_*.json
signal-data/

.DS_Store
.DS_Store?

.vscode/
.idea/
*.swp
*.swo
*~

*.log
logs/

*.service
*.timer
src/calendar_sync_token.txt
src-prod/calendar_sync_token.txt
src-prod/secrets/user_map_signal
src-prod/secrets/user_map_dc
src-prod/secrets/signal_sender
src-prod/secrets/nextcloud_user
src-prod/secrets/nextcloud_pass
src-prod/secrets/discord_bot_token
src-prod/secrets/calendar_url
src-prod/secrets/calendar_name

vault/role_id
vault/secret_id
src-prod/vault-agent/role_id
src-prod/vault-agent/secret_id
src-prod/taskbot-policy.hcl
src-prod/test/user_map_dc__test.txt
src-prod/data/sync_tokens/test.txt
