NEXTCLOUD_URL=https://nextcloud.m.onsaa.org/ocs/v2.php/apps/notifications/api/v2/notifications
NEXTCLOUD_BASE_URL=https://nextcloud.m.onsaa.org
NEXTCLOUD_USER=
NEXTCLOUD_PASS=

SIGNAL_URL=http://127.0.0.1:8080/v2/send/
SIGNAL_URL_GET=http://127.0.0.1:8080/v2/receive/
SIGNAL_SENDER=
DISCORD_BOT_TOKEN=
# nextcloud app user/email -> signal number
USER_MAP_SIGNAL='{}'
# nextcloud app user/email -> dc user id
USER_MAP_DC='{}'
CALENDAR_NAME=""
CALENDAR_URL="https://nextcloud.m.onsaa.org/remote.php/dav/calendars/nextcloud-user/calendar-name"